body {
    background-color: rgb(168, 163, 134);
}


.title {


    text-align: center;
    vertical-align: middle;

    background:
        radial-gradient(circle at 25% 0%, rgb(167, 155, 89) 1% 5%, transparent 10.2%),
        radial-gradient(circle at 20% 50%, rgba(78, 69, 17, 0.603) 0 0%, transparent 8.2%),
        radial-gradient(circle at 55% max(1%, 1px), rgb(168, 163, 134) 1%, transparent 7.2%),
        radial-gradient(circle at 5% 5%, rgba(78, 69, 17, 0.603) 0 60%, transparent 120%),
        rgb(167, 155, 89);


}


p {
    text-align: center;
    vertical-align: middle;
}

h4 {
    text-align: center;
}


h6 {
    color: rgb(41, 41, 41);
    text-align: center;
}



.photoleft,
.photoright {

    height: 700px;
}


.text {
    border-left: 5px solid rgba(78, 69, 17, 0.603);
    border-right: 5px solid rgba(78, 69, 17, 0.603);
}


.video {
    background-color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 640px;
    height: 480px;
}

/*.video,
.sax {
    background-color: black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 640px;
    height: 490px;
}*/

.end {
    margin-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9cm;
    color: rgb(61, 52, 2);
}

.author {
    text-align: center;
    color: rgba(46, 42, 20, 0.603);
    font-size: 0.6cm;
    text-decoration: overline;
    text-decoration: underline;
    margin-bottom: 50px;
}



.footer {
    background-color: rgb(0, 0, 0);

}

.social-link a {
    margin: 10px 10px;
    color: rgba(255, 255, 255, 0.651);
    border: 0;
}


.fb :hover,
.fb :focus {
    color: #3a6cd8;
}

.instagram :hover,
.instagram :focus {
    color: #B400A6;
}

.social-link i {
    font-size: 25px;
    vertical-align: middle;
}