.main-topic {
	display: table;
	border: 2px solid green;
	margin: 0 auto;
}

.left-text{
	display: table-cell;
	vertical-align:middle;
}

.right-picture{
	display: table-cell;
}

.right-picture > img{
	display: block;
}

.clear{
	clear: both;
}